@import '../../styles/index.scss';

.container {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    display: block;

    .table {
        padding: 0 10px;
        background-color: $--bg-white;

        .title {
            width: 100px;
            @include mixin-textHidden;
        }

        .introduction {
            width: 300px;
            @include mixin-textHidden;
        }
    }
}